{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Koszyk</h2>
            </div>
        <div class="form-group col-7">
            <h5>Wybrana stacja: {{ equipments[0].department.address }}</h5>
        </div>
            <div class="col-2">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#orderModal">
                    Złóż zamówienie
                </button>
            </div>
            <div class="col-1">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#reservationModal">
                    Zarezerwuj
                </button>
            </div>
            <div class="col-2">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#emptyBasket">
                    Opróżnij koszyk
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Składanie zamówienia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    Czy na pewno chcesz złożyć zamówienie na {{ basketCount() }} {{ basketCount() == 1? "produkt": "produktów" }}?
                </div>
                <div class="modal-footer">
                    <form class="float-left mr-2" action="{{ url("user_makeorder", {"id": getUserId()}) }}" method="post">
                        <button type="submit" class="btn btn-primary">Tak</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Rezerwacja</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    Czy na pewno chcesz zarezerwować {{ basketCount() }} {{ basketCount() == 1? "produkt": "produktów" }}?
                </div>
                <div class="modal-footer">
                    <form class="float-left mr-2" action="{{ url("user_makereservation", {"id": getUserId()}) }}" method="post">
                        <button type="submit" class="btn btn-primary">Tak</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="emptyBasket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Opróżnianie koszyka</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    Czy na pewno chcesz usunąć {{ basketCount() }} {{ basketCount() == 1? "pozycję": "pozycji" }} z koszyka?
                </div>
                <div class="modal-footer">
                    <form class="float-left mr-2" action="{{ url("user_emptybasket", {"id": getUserId()}) }}" method="post">
                        <button type="submit" class="btn btn-primary">Tak</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                </div>
            </div>
        </div>
    </div>

    {% for equipment in equipments %}
        <div class="card m-md-2" style="width: 67rem;">
            <div class="card-body">
                <h5 class="card-title">{{ equipment.name }}</h5>
                <p class="card-text">{{ equipment.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item font-weight-light">Rodzaj: {{ equipment.type.type }}</li>
                <li class="list-group-item">Cena za dzień: {{ equipment.price }} zł</li>
                <li class="list-group-item">Przebieg: {{ equipment.milleage }} km</li>
            </ul>
            <div class="card-body">
                    <form class="float-left mr-2" action="{{ url("basket_delete", {"id": equipment.id}) }}" method="post">
                        <button type="submit" class="btn btn-outline-danger">Usuń z listy</button>
                    </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}